body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    margin-top:20px
}

h1 {
    color: #2c3e50;
    margin-bottom: 0.5em;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    margin: 20px auto;
}

#userSelect, #modelSelect, #numRecommend {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

#submitBtn {
    padding: 12px 20px;
    width: calc(100% - 24px); /* Slightly less than 100% to account for padding */
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submitBtn:hover {
    background-color: #4cae4c;
}

#recommendationResults {
    margin-top: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.main-content {
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
}

.header p {
    color: #555;
    margin-top: 0;
    margin-bottom: 1em;
}

.header {
    margin-bottom: 20px;
    margin: 0 auto;
}

.recommendation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ddd;
}

.recommendation-table th, .recommendation-table td {
    padding: 10px;
    text-align: left;
}

.recommendation-table th {
    background-color: #4c6991;
    color: white;
    font-weight: normal;
    border-right: 1px solid #f9f9f9;
}

.recommendation-table td {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.recommendation-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Add a bit of responsive design */
@media (max-width: 768px) {
    .container, #userSelect, #modelSelect, #numRecommend, #submitBtn {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}
